doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title=title

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    if (env.NODE_ENV == 'development')
      link(rel='stylesheet', href='/css/app.css')
    else
      style
        include ../public/css/app.min.css
          
            
  body
    include icon-sprite.svg
    #app(data-wp-endpoint=env.WP_ENDPOINT)!=appString
    script#initial-media-state(type='application/json')!=initialMediaState
  
  script.
    WebFontConfig = {
      google: {
        families: [ 'Vollkorn:400,400italic' ],
      },
      
      custom: {
        families: [ 'Alright Sans Black', 'Alright Sans Light', 'Alright Sans Italic' ],
        urls: ['//cloud.webtype.com/css/9c937990-02b7-4606-9e8b-9a50d6cb097d.css'],
      }
    };

  script(src='//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js', async, defer)
  
  if (env.NODE_ENV == 'development')
    script(src='/js/app.js', defer)
  else
    script(src='/js/app.min.js', defer)
