.Alert
  &--failure
    padding-top: rhythm(1/4)
    border-top: rhythm(1/4) solid theme-color(orange)
    color: theme-color(orange)

  &--success
    padding-top: rhythm(1/4)
    border-top: rhythm(1/4) solid theme-color(green)
    color: theme-color(green)
