.AppNav

  &-bar

    // Layout
    display: flex

    &-logo
      flex: 0 1 auto;

    &-content
      flex: 1 1 auto;

    &-toggle
      flex: 0 1 auto;

    // Logo
    &-logo
      svg
        transition: fill ease-in-out 200ms
