// Usage:
//   <blockquote className="Blockquote">
//     <p className="Blockquote-content">This is a quote</p>
//     <footer className="Blockquote-footer">Speaker name</footer>
//   </blockquote>

.Blockquote
  margin-bottom: rhythm(2)

  &-content
    @include font-size('h2')
    @include font-family('vollkorn')
    padding: rhythm(1) 0
    font-style: italic
    font-weight: bold
    position: relative
    margin: 0

    &:before
      content: "\201C"
      color: theme-color(gray)
      font-size: rhythm(5)
      position: absolute
      right: unquote("calc(100% + #{rhythm(1/2)})")
      top: -0.15em
      font-style: normal

  &-footer
    @include font-size('h4')
    @include font-family('vollkorn')
    font-style: italic
    color: theme-color(gray)
    padding-left: rhythm(1)
    &:before
      content: "\2014 \2002"
