.BorderBlockButton {
  @include reset-button;

  display: block;

  border-left: solid rhythm(1/4) theme-color(yellow);
  padding: rhythm(1);

  &-title {
    margin-top: 0;
    text-transform: uppercase;
  }
}
