// Buttons
//
// The Button component can be used to style links, `button` elements, and
// button-style inputs.
//
// The base Button class does something you may not expect: it removes all
// styles, including browser defaults. This enables you to wrap arbitrary
// content inside a `button` (or `a`) element without changing its appearance.
// Then you can attach a click handler to the `button` element, rather than
// attaching a click handler to some other element like a `div`, which is bad
// for accessibility.

@mixin reset-button
  display: inline
  background: transparent
  -webkit-appearance: none
  -moz-appearance: none
  -webkit-tap-highlight-color: transparent
  outline: none
  border: none
  padding: 0
  margin: 0
  overflow: visible
  text-decoration: none
  color: inherit
  text-align: start
  white-space: normal

  &:hover
    cursor: pointer

.Button
  +reset-button

  position: relative

  &:after, &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &--callToAction
    +font-family(alright)
    +font-size(h3)
    position: relative
    text-transform: uppercase
    text-align: center
    font-weight: bold
    border-bottom: rhythm(1/5) solid

  &--primaryMenuLink, &--secondaryMenuLink
    +font-family(alright)
    +font-size(h1)
    position: relative
    text-transform: capitalize
    font-weight: bold
    color: theme-color(lightGray)
    line-height: 1.125
    border-bottom: transparent 
    border-bottom-width: 10px
    border-bottom-style: solid
    &:hover
      border-bottom: theme-color(yellow)
      border-bottom-width: 10px
      border-bottom-style: solid

  &--secondaryMenuLink
    +font-size(h2)
    
    
  
