.HTMLContentArea
  h1
    @extend .Header--1
  h2
    @extend .Header--2
  h3
    @extend .Header--3
  h4
    @extend .Header--4

  .wp-caption img
      display: block

  .wp-caption-text
    display: inline-block
    margin-bottom: 0
    color: theme-color(gray)
    +font-family(vollkorn)
    +font-size(small)
    font-style: italic

    +bp(m)
      +font-size(text)
