.Header

  &--1
    +font-family(header)
    +font-size(h1)
    margin: 0 0 rhythm(1/2)
    line-height: 1

  &--2
    +font-size(h2)
    +font-family(vollkorn)
    line-height: 1.25

  &--3
    +font-size(h3)
    +font-family(header)

  &--4
    +font-size(h4)
    +font-family(vollkorn)
    font-weight: normal

  &--blogCard, &--blogCardLarge
    +font-size(h5)
    +font-family(header)

  &--blogCardLarge
    +font-size(h3)

.CopyContent
  h1
    @extend .Header--1
  h2
    @extend .Header--2
  h3
    @extend .Header--3
  h4
    @extend .Header--4
