.Home

  &-firstImpression
    display: flex
    flex-direction: column

    &-helloZone, &-featuredZone
      display: flex
      width: 100%
      align-items: center

    &-helloZone
      +bp(m)
        flex: 1 1 percentage(1/3)
        padding: rhythm(2) 0 

    &-featuredZone
      flex-grow: 5
      +bp(m)
        flex: 1 1 percentage(2/3)
