.Home

  +bp(m)
    &-firstImpression

     &-helloZone
       min-height: 40vh
       display: flex
       align-items: center

     &-slider .ProjectSlide
       min-height: 60vh


.HomeProcessSection
  border-top: rhythm(1) theme-color(yellow) solid
  background-color: theme-color(darkGray)
  color: white

  +bp(l)
    border-top: none

  a.Button--secondaryLight
    color: white

    &:hover
      color: theme-color(yellow)
