.PageFooter {
  margin-top: rhythm(3);
  padding-top: rhythm(3);

  &-section {
    padding: rhythm(1);

    @include bp('l') {
      @include gallery(4 of 12);
    }
  }

  &-socialLinkContainer {
    @include gallery(2 of 4);
  }

  &-logoContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: rhythm(-4);
  }
}
