.ProjectCard {
  background-color: #fff;
  background-image: url(/img/diagonal-gray-pattern.svg);
  background-size: rhythm(1 1);
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
