.ResponsiveEmbed {
  position: relative;
  padding-bottom: percentage(9/16);
  height: 0;
  overflow: hidden;

  @include bp(m) {
    padding-bottom: percentage(9/16)*1.5;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
