$theme: (
  colors: (
    red: red,
    blue: blue
  ),
  fontFamilies: (
    sans-serif: sans-serif
  ),
  fontSizes: (
    s: 0.8rem,
    text: 1.0rem,
    m: 1.1rem,
    l: 1.5rem,
    xl: 1.7rem,
    xxl: 2.3rem,
    xxxl: 2.5rem,
    xxxxl: 3.0rem,
    xxxxxl: 3.4rem,
    xxxxxxl: 3.8rem,
    xxxxxxxl: 5.1rem
  ),
  zIndices: (
    Home: 999
  )
);
