$input-padding-base: rhythm(1)

.Form
  position: relative
  overflow: hidden
  transition: all 250ms ease

  &-checkmark
    position: absolute
    +z-index(AppTransition, -1)
    top: 0
    left: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    padding: rhythm(1)

    > *
      flex: 0 0 auto
      min-width: 1px
      min-height: 1px

    &-icon
      width: rhythm(6)
      height: (64.2422/98.4365)*rhythm(6)
      fill: none
      stroke: theme-color(green)
      stroke-dasharray: 140
      stroke-width: 8px
      stroke-linejoin: round
      stroke-linecap: round

    &-message
      margin-top: rhythm(2)
      text-align: center
      max-width: 480px

.Field
  position: relative
  margin-bottom: rhythm(1)
  transition: all 250ms ease

  &-label
    position: absolute
    z-index: 3
    top: 0
    left: 0
    padding: $input-padding-base $input-padding-base 0
    border: 2px solid transparent
    color: theme-color(gray)
    cursor: text
    font-family: font-family(vollkorn)
    pointer-events: none
    transition: all 250ms ease

  &-input
    display: block
    position: relative
    z-index: 2
    width: 100%
    margin: 0
    padding: ($input-padding-base + $input-padding-base*0.4) $input-padding-base ($input-padding-base - $input-padding-base*0.6)
    background: theme-color(lightGray)
    border: 2px solid transparent
    line-height: 1.75
    outline: 0
    white-space: normal
    transition: all 250ms ease

    &:focus
      border-bottom: 2px solid theme-color(medGray)

  &-error
    position: absolute
    z-index: 1
    font-size: font-size(small)
    opacity: 0
    transform: translateY(-100%)
    transition: all 250ms ease

.Field--isFocused, .Field--isNotEmpty
  .Field-label
    padding: ($input-padding-base - $input-padding-base*0.4) $input-padding-base 0
    color: theme-color(gray)
    font-size: font-size(small)

.Field--isNotValid
  margin-bottom: rhythm(1.5)

  .Field-input
    border-bottom: 2px solid theme-color(orange)

  .Field-error
    opacity: 1
    transform: translateY(0)

.Field--isValid
  .Field-input
    border-bottom: 2px solid theme-color(green)
